.page-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: minmax(60px, 100%) 1fr 100%;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    .main-section {
        grid-area: main;
        display: flex;
        flex: 1;
    }
}